.row-header {
    margin: 0px auto;    /*TB LR*/
    padding: 0px auto;
    text-align: center;
}

p {
    font-size: 10px;
}

text{
    font-size: 14px;
}

.footer {
    background-color: #78beca;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 10px 0px 10px 0px;
    margin: 0px auto;
    background: #3F656C;
    color: floralwhite;
}

.legend{
    max-width:100%;
    padding: 20px 0px 20px 0px;
}

.image {
    max-width:100%;
}

/* Tree Diagrams */
#personas{display: None;}
#flowcharts{display: None;}
#f1, #f1-text{display: None;}
#f2, #f2-text{display: None;}
#f3, #f3-text{display: None;}
#f4, #f4-text{display: None;}
#f5, #f5-text{display: None;}
#f6, #f6-text{display: None;}
#f7, #f7-text{display: None;}